*{
    background-color:aqua;
    padding:0px;
    margin:0px;
}

.navi  ul{
background-color:black;
    height:6vh;
    width: 100vw;
    text-align:center;
   
    
}
.navi ul li a {
    background-color:black;
     text-decoration:none;
     color:white;
     font-family:italic;
     display:inline-block;
     padding-top:2vh;
     padding-right:7.5vw;
     padding-left:3vw;
     
     
   
}


li{
   
    display:inline-block;
   
}

.box1{
    background-color:purple;
display:inline-block;
width: 50vw;
  height: 100vh;
  text-align:center;
}

.box2{
    background-color:green;
display:inline-block;
width: 50vw;
  height: 100vh;
  text-align:center;
}

footer div{
    text-align:center;
    display:inline-block;
    padding:10vh;
}
